h1, h2, h3 {
    margin: 1em;
}

form {
    margin: 1em;
}

table, .table, #taskTable, .mb3{
    margin: 1em;
    width: 50%;
}

.form-group {
    width: 60%
}

table, th, td {
    border: 1px solid;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}